.header_2{
  background-color: #232f3e !important;
  position: fixed !important;
  top: -70px !important;
  right: 0 !important;
  left: 0 !important;
  z-index: 99999999 !important;
  width: 100% !important;
  transform: translateY(70px) !important;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
  -webkit-transform: translateY(70px) !important;
  -moz-transform: translateY(70px) !important;
  -ms-transform: translateY(70px) !important;
  -o-transform: translateY(70px) !important;
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 10%) ;
  padding: 0 -20px !important;
}


img {
  width: 100%;
}
body{
  background-color: #f0f2f5;
  font-family: 'Roboto Condensed', sans-serif;
}
li{
  list-style: none;
}
.p-70{
  padding: 70px 0;
}
.container{
  max-width: 1300px;
}
a{
  text-decoration: none !important;
}

.page-header .header-top {
  background: #19202b;
  color: #fff;
  border-bottom: 1px solid #303741;
  font-size: 13px;
  padding: 5px 0;
}

.page-header .middle{
  background-color: #19202b;
}
.page-header .middle .nav-item i{
  color: #fff;
  font-size: 30px;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}
.page-header .middle .nav-item:hover i,.page-header .middle .nav-item:hover  h6{
  color: #f03723 ;
  cursor: pointer;
}
.page-header .middle .nav-item {
  padding-right: 25px;
  text-align: center;
}
.page-header .middle h6{
  color: #fff;
  font-size: 12px;
  margin-top: 5px;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}
.page-header .middle .items{
  padding: 15px 0;
}
.page-header .middle .items input,.header input{
  position: relative;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  margin-top: 5px;
}
.page-header .middle .items input::placeholder,.header input::placeholder{
  font-size: 14px;
  position: absolute;
  right: 10px;
}
.header .form-inline{
  opacity: 0;
}
.page-header .middle .items .btn,.header .btn{
  position: absolute;
  left: -22px;
  top: 5px;
  padding: 10px;
  background-color: #ee0909;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border: 1px solid #ee0909;
}
.page-header .logo img {
  max-width: 60%;
  position: absolute;
  right: 0;
}
.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 118px;
  width: 100%;
  z-index: 999;
  padding: 0 -20px !important;
  background-color: #232f3e;
}

.header .navbar .navbar-nav > li {
  margin: 0 5px;
}
.header .navbar .navbar-nav > li > a {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.header .navbar-light .navbar-nav .active>.nav-link{
  color: #f03723 ;
}
.header .navbar .navbar-nav > li > a:hover {
  color: #f03723;
}
#nav_scroll{
  opacity: 0;
}
.header .nav-item i{
  color: #fff;
  font-size: 20px;
  padding-right: 30px;
}
.middle .counter{
  width: 18px;
  height: 18px;
  border-radius: 8px;
  background: #f03723;
  color: #fff;
  text-align: center;
  line-height: 18px;
  font-size: 11px;
  padding: 0 2px;
  position: absolute;
  left: 30px;
  top: -15px;
  display: none;
}
.middle .cart-productss{
  position: absolute;
  z-index: 9999999;
  background-color: #fff;
}
.middle .cart-productss li{
  border-bottom: #bdbdbd 1px solid;
}
.middle .cart-productss .tittle{
  font-size: 13px;
}
.middle .cart-productss img{
  width: 70px;
}

.headphones{
  padding: 90px 0;
}
.headphones .item2{
  position: relative;
  display: flex;
  align-items: center;
}
.headphones .text{
  position: absolute;
  padding: 0 10%;
  color: #fff;
}
.headphones .text a span {
  font-size:  14px;
  font-weight: 600;
}
.headphones .text h2 {
  font-size:  20px;
  font-weight: 600;
  margin: 0 0 10px;
}
.headphones .text h2 span {
  font-size:  14px;
}
.headphones .text .btn {
    color: #fff;
    background: #eb3e32;
    border: 1px solid #eb3e32;
    border-radius: 3px;
    padding: 5px 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}
.headphones .text .btn:hover{
  color: #222;
  border-color: #fdc801;
  background: #fdc801;
}


.headphones .carousel-caption1{
  position: absolute;
  top: 15%;
  right: 20%;
  text-align: right;
  color: #fff;
}


.headphones .carousel-caption1 h2 {
  font: 600 20px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.headphones .carousel-caption1 .middle_text {
  font: 500 48px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  margin-bottom: 20px;
}
.headphones .carousel-caption1 p {
  margin-bottom: 40px;
  font-size: 15;
  font-weight: 500;
}
.headphones .carousel-caption1 .btn {
  padding: 12px 40px;
  color: #fff;
  background: #eb3e32;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 30px;
}

.headphones .carousel-caption2{
  position: absolute;
  left: 15%;
  top: 20%;
  color: #fff;
}
.headphones .carousel-caption2 h2 {
  font: 500 48px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  margin-bottom: 20px;
}
.headphones .carousel-caption2 p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
}
.headphones .carousel-caption2 .btn {
  padding: 12px 40px;
  color: #fff;
  background: #eb3e32;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 30px;
}

.headphones .owl-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 -5px;
  z-index: 22;
  position: relative;
  top: -270px;
}

.headphones #owl_headphones .owl-nav button.owl-prev,#owl_headphones .owl-nav button.owl-next, #owl_headphones button.owl-dot {
  background-color: #f03723;
  width: 50px;
  height: 50px;
  line-height: 28px;
  outline: 0;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  color: #fff;
  border: 1px solid #eb3e32;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.headphones #owl_headphones .owl-nav button.owl-prev:hover,#owl_headphones .owl-nav button.owl-next:hover,#owl_headphones button.owl-dot {
  background-color: #fff;
  color: #f03723;
  border: 1px solid #eb3e32;
}

.top_recommended .text-right {
  font: 600 24px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}
.top_recommended .item{
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  height: 360px;
}
.top_recommended .item .text{
 text-align: right;
 padding: 20px;
}
.top_recommended .item .text h6{
  font-size: 13px;
  color: #bdbdbd;
}
.top_recommended .item .text p{
  color: #253237;
  font: 500 14px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
}
.top_recommended .item .text p:hover {
  color: #f03723;
  cursor: pointer;
}
.top_recommended .item .text span{
  color: #253237;
  font: 600 18px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  position: absolute;
  right: 25px;
  bottom: 25px;
}
.top_recommended .eye_arrivals{
  position: absolute;
  top: 25%;
  left: 80px;
  opacity: 0;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    padding: 11px 0;
    background-color: #eb3e32;
  z-index: 5;
}
.top_recommended .item:hover .eye_arrivals{
  opacity: 1;
}
.top_recommended .eye_arrivals:hover {
  box-shadow: 0 0 0 10px rgb(255 255 255 / 40%);
  color: #eb3e32;
  border-color: transparent;
  background: transparent;
}
.top_recommended .icon{
    position: absolute;
    color: #fff;
    cursor: pointer;
    padding: 20px 0;
    width: 100%;
    bottom: 10px;
    left: 0px;
    opacity: 0;
    transition: all .5s;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
}
.top_recommended .item:hover .icon {
  opacity: 1;
  transform: translateY(0px);
}
.top_recommended .icon i{
  padding: 0 10px;
  color: #424344;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}
@keyframes icon_animation {
  0%{ transform:scale(1) ; -webkit-transform:scale(1) ; -moz-transform:scale(1) ; -ms-transform:scale(1) ; -o-transform:scale(1) ; }
  100%{ transform:scale(1.6) ; -webkit-transform:scale(1.6) ; -moz-transform:scale(1.6) ; -ms-transform:scale(1.6) ; -o-transform:scale(1.6) ; }
}
.top_recommended .icon i:hover{
  color: #f03723;
  animation-name: icon_animation;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
.top_recommended .icon button{
  border: none;
  border-bottom: #19202b 2px solid;
  background-color: #fff;
  font: 600 14px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  outline: none;
  text-transform: uppercase;
}
.top_recommended .icon button:hover{
  color: #f03723;
}

.top_recommended .face{
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;  
}
.top_recommended .face img{
  transform-style: preserve-3d;
}
.top_recommended .front{
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  position: relative;
  z-index: 2;
}
.top_recommended .item:hover .front{
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  z-index: 2;

}
.top_recommended .back{
  opacity: 0 ;
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  position: absolute;
  inset: 0;
  z-index: -1;

}

.top_recommended .item:hover .back{
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  opacity: 1;
  z-index: 0;
}
 .owl-dots{
  display: none;
  width: 0;
}
.top_recommended .owl-theme .owl-nav {
  position: absolute;
  top: -55px;
  left: 0;
}
.top_recommended .owl-nav {
  position: absolute;
  top: -40px;
  left: 0;
}
.top_recommended .owl-nav {
  position: absolute;
  top: -40px;
  left: 0;
}
.owl-carousel .owl-nav button.owl-prev,.owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
  background-color: #fff;
  width: 30px;
  height: 30px;
  line-height: 28px;
  border-radius: 50%;
  outline: 0;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  margin: 0 5px;
}
 .owl-carousel .owl-nav button.owl-prev:hover,.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel button.owl-dot {
  background-color: #f03723;
  color: #fff;
}
.top_recommended .fitness .face{
  width: 260px;
  position: absolute;
  right: 20px;
  top: 100px;
}
.top_recommended .fitness{
  background-color: #fff;
  height: 360px;
}
.top_recommended .fitness .label-content{
  position: absolute;
  top: 60px;
  right: 40px;
  background-color: #5aab19;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font: 600 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  text-align: center;
}
.top_recommended .fitness .text{
  position: absolute;
  left: 25px;
  top: 80px;
  text-align: center;
  width: 320px;
}
.top_recommended .fitness .text a {
  color: #253237;
  font: 500 18px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
    backface-visibility: hidden;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.top_recommended .fitness .text p {
  margin: 10px 0;
  color: #bdbdbd;
  font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}
.top_recommended .fitness .text .old_price {
  color: #bdbdbd;
  font: 600 16px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  margin-right: 10px;
  text-decoration: line-through;
}
.top_recommended .fitness .text .price {
  color: #253237;
  font: 600 16px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}
.top_recommended .fitness .text h6 {
  margin-top: 15px;
  color: #bdbdbd;
  font: 400 12px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;

}
.top_recommended .fitness .text a:hover {
  color: #f03723;
  cursor: pointer;
}

.top_recommended .fitness .eye_recommended{
  position: absolute;
  top: 53%;
  right: 150px !important;
  opacity: 0;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    padding: 11px 0;
    background-color: #eb3e32;
  z-index: 222;
}
.top_recommended .fitness:hover .eye_recommended{
  opacity: 1;
}
.top_recommended .fitness .eye_recommended:hover {
  box-shadow: 0 0 0 10px rgb(255 255 255 / 40%);
  color: #eb3e32;
  border-color: transparent;
  background: transparent;
}

.top_recommended .fitness .icon {
  padding-left: 30px;
  z-index: 2222222;
}
.top_recommended .fitness:hover .icon {
  opacity: 1;
  transform: translateY(0px);
}
.top_recommended .fitness .icon button{
  margin-left: 140px;
}



.top_recommended .fitness .back2{
  opacity: 0;
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  position: absolute;
  right: 20px;
  top: 100px;
  z-index: -1;
}
.top_recommended .fitness:hover .back2{
  opacity: 1;
  z-index: 22;
}

.Cameras .face{
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;  
}
.Cameras .face img{
  transform-style: preserve-3d;
}
.Cameras .front{
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  position: relative;
  z-index: 2;
}
.Cameras .item:hover .front{
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  z-index: 2;

}
.Cameras .back{
  opacity: 0;
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  position: absolute;
  inset: 0;
  z-index: 0;
 
}

.Cameras .item:hover .back{
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  opacity: 1;
  z-index: 0;
}
.Cameras .product-bg{
  border-radius: 5px;
    background: #eb3e32;
}
.Cameras #owl_Cameras{
  padding: 5px;
  height: 420px;
}
.Cameras .item{
  background-color: #fff;
  border-right: 1px solid #bdbdbd;
  overflow: hidden;
  height: 410px ;
}
.Cameras .item .text{
 text-align: right;
 padding: 20px;
}
.Cameras .item .text h6{
  font-size: 13px;
  color: #bdbdbd;
}
.Cameras .item .text p{
  color: #253237;
  font: 500 14px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
}
.Cameras .item .text p:hover {
  color: #f03723;
  cursor: pointer;
}
.Cameras .item .text span{
  color: #253237;
  font: 600 18px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  position: absolute;
  right: 25px;
  bottom: 10px;
}
.Cameras .eye_arrivals{
  position: absolute;
  top: 25%;
  left: 90px;
  opacity: 0;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    padding: 11px 0;
    background-color: #eb3e32;
  z-index: 5;
}
.Cameras .item:hover .eye_arrivals{
  opacity: 1;
}
.Cameras .eye_arrivals:hover {
  box-shadow: 0 0 0 10px rgb(255 255 255 / 40%);
  color: #eb3e32;
  border-color: transparent;
  background: transparent;
}
.Cameras .icon{
    position: absolute;
    color: #fff;
    cursor: pointer;
    padding: 20px 0;
    width: 100%;
    bottom: 2px;
    left: 5px;
    opacity: 0;
    transition: all .5s;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
     
}
.Cameras .item:hover .icon {
  opacity: 1;
  transform: translateY(0px);
}
.Cameras .icon i{
  padding: 0 10px;
  color: #424344;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}

.Cameras .icon i:hover{
  color: #f03723;
  animation-name: icon_animation;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
.Cameras .icon button{
  border: none;
  border-bottom: #19202b 2px solid;
  background-color: #fff;
  font: 600 14px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  outline: none;
  margin-left: 80px;
  text-transform: uppercase;
}
.Cameras .icon button:hover{
  color: #f03723;
}
.Cameras .owl-nav {
  display: flex;
  justify-content: space-between;
  margin:0 -5px;
  z-index: 22;
  position: relative;
  top: -250px;
}

.Cameras #owl_Cameras .owl-nav button.owl-prev,#owl_Cameras .owl-nav button.owl-next, #owl_Cameras button.owl-dot {
  background-color: #f03723;
  width: 50px;
  height: 50px;
  line-height: 28px;
  outline: 0;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  color: #fff;
  border: 1px solid #eb3e32;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.Cameras #owl_Cameras .owl-nav button.owl-prev:hover,#owl_Cameras .owl-nav button.owl-next:hover,#owl_Cameras button.owl-dot {
  background-color: #fff;
  color: #f03723;
  border: 1px solid #eb3e32;
}
.Cameras .text-right {
  padding: 25px 35px 0 0;
  color: #fff;
}
.Cameras .text-right h1 {
  font: 600 12px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 5px;
}
.Cameras .text-right h2 {
  font: 600 20px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  margin: 0 0 10px;
}
.Cameras .text-right h3 {
  font: 500 16px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  margin: 0 0 5px;
}
.Cameras .text-right .title-special {
  font-size: 7rem;
  line-height: 1;
  font-weight: 300;
}
.Cameras .text-right p {
  font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}
.cell_phones .text-right{
  font: 600 24px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  position: absolute;
  top: -10px;
  right: 17px;
  margin-bottom: 0;
}
.cell_phones .owl-nav {
  position: absolute;
  top: -25;
  left: 0;
}
.cell_phones .item{
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  margin: 30px 0;
  height: 410px ;
  position: relative;
}
.cell_phones .item .text{
 text-align: right;
 padding: 20px;
}
.cell_phones .item .text h6{
  font-size: 13px;
  color: #bdbdbd;
}
.cell_phones .item .text p{
  color: #253237;
  font: 500 14px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
}
.cell_phones .item .text p:hover {
  color: #f03723;
  cursor: pointer;
}
.cell_phones .item .text span{
  color: #253237;
  font: 600 18px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  position: absolute;
  right: 25px;
  bottom: 15px;
}
.cell_phones .eye_arrivals{
  position: absolute;
  top: 25%;
  left: 110px;
  opacity: 0;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    padding: 11px 0;
    background-color: #eb3e32;
  z-index: 5;
}
.cell_phones .item:hover .eye_arrivals{
  opacity: 1;
}
.cell_phones .eye_arrivals:hover {
  box-shadow: 0 0 0 10px rgb(255 255 255 / 40%);
  color: #eb3e32;
  border-color: transparent;
  background: transparent;
}
.cell_phones .icon{
    position: absolute;
    color: #fff;
    cursor: pointer;
    padding: 20px 0;
    width: 100%;
    bottom: 2px;
    left: 0px;
    opacity: 0;
    transition: all .5s;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
}
.cell_phones .item:hover .icon {
  opacity: 1;
  transform: translateY(0px);
}
.cell_phones .icon i{
  padding: 0 10px;
  color: #424344;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}

.cell_phones .icon i:hover{
  color: #f03723;
  animation-name: icon_animation;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
.cell_phones .icon button{
  border: none;
  border-bottom: #19202b 2px solid;
  background-color: #fff;
  font: 600 14px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  outline: none;
  margin-left: 75px;
  text-transform: uppercase;
}
.cell_phones .icon button:hover{
  color: #f03723;
}

.cell_phones .face{
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;  
}
.cell_phones .face img{
  transform-style: preserve-3d;
}
.cell_phones .front{
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  position: relative;
  z-index: 2;
}
.cell_phones .item:hover .front{
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  z-index: 2;

}
.cell_phones .back{
  opacity: 0;
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.cell_phones .item:hover .back{
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  opacity: 1;
  z-index: 0;
}

.cell_phones .product_item .face{
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;  
}
.cell_phones .product_item .face img{
  transform-style: preserve-3d;
}

.cell_phones .product_item{
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  margin: 30px 0;
  height: 650px ;
  position: relative;
}
.cell_phones .product_item .text{
 text-align: center;
 padding: 20px;
}
.cell_phones .product_item .text h6{
  font-size: 13px;
  color: #bdbdbd;
}
.cell_phones .product_item .text p{
  color: #253237;
  font: 600 16px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
}
.cell_phones .product_item .text p:hover {
  color: #f03723;
  cursor: pointer;
}
.cell_phones .product_item .text span{
  color: #253237;
  font: 600 18px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}
.cell_phones .product_item .text .desc {
  font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  margin: 20px 0 27px 0;
  color: #bdbdbd;
}

.cell_phones .product_item .eye_arrivals{
  position: absolute;
  top: 25%;
  left: 45%;
  opacity: 0;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    padding: 11px 0;
    background-color: #eb3e32;
  z-index: 222;
}
.cell_phones .product_item:hover .eye_arrivals{
  opacity: 1;
}
.cell_phones .product_item .eye_arrivals:hover {
  box-shadow: 0 0 0 10px rgb(255 255 255 / 40%);
  color: #eb3e32;
  border-color: transparent;
  background: transparent;
}
.cell_phones .product_item .face{
  position: relative;
  top: 0 !important;
}

.cell_phones .product_item .back{
  opacity: 0;
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  position: absolute;
  right: 20px;
  top: 100px;
  z-index: -1;
}
.cell_phones .product_item:hover .back{
  opacity: 1;
  z-index: 22;
}
.cell_phones .product_item .action{
  font: 500 11px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  font-size: 13px;
  background: #eb3e32;
  color: #fff;
  padding: 6px 23px;
  position: relative;
  border: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  max-width: 100%;
  border-radius: 0;
  outline: none;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}
.cell_phones .product_item .action span{
  color: #fff;
  font: 600 11px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}
.cell_phones .product_item .action span i{
  padding-right: 5px;
}
.cell_phones .product_item .action::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 10px;
  left: 0;
  top: 0;
  background: #ef6157;
}

.cell_phones .product_item .action::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 10px;
  right: 0;
  top: 0;
  background: #ef6157;
}
.cell_phones .product_item .action:hover{
  opacity: 0.8;
  background: #eb3e32;
  color: #fff;
}
.cell_phones .product_item .icon2{
  padding: 15px;
  color: #f03723;
  position: absolute;
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.cell_phones .product_item:hover .icon2{
  z-index: 99;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}.cell_phones .product_item .icon2 span i{
  display: block;
  padding: 5px 0 ;
}
.cell_phones .product_item .icon2 span i:hover{
  cursor: pointer;
}
.cell_phones .product_item .old_price {
  color: #bdbdbd !important;
  padding-right: 12px;
  text-decoration: line-through;
}
.cell_phones .product_labels {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 999;
}
.cell_phones .product_labels .label-item {
  color: #fff;
  background: #5aab19;
  margin-bottom: 3px;
  padding: 2px 10px;
  text-align: center;
  font: 400 14px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}
.cell_phones .product_labels .label-item.new {
  background: #fdc801;
}

.mobiles .mb-3{
  margin-bottom: 18px!important;
}
.mobiles .abs-img{
  position: relative;
}
.mobiles .item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #fff;
  padding: 30px 10%;
  z-index: 1;
}
.mobiles .item-content.text-left {
  text-align: left;
}
.mobiles .item-content h1 {
  font: 600 24px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}
.mobiles .item-content h4{
  font: 500 16px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  margin: 0 0 5px;
}

.mobiles .item-content .space-md {
  margin-bottom: 40px;
}

.mobiles .item-content .action {
  color: #222;
  background: #fdc801;
  font: 600 14px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 3px;
  transition: all 500ms ease;
  padding: 6px 20px;
  text-transform: uppercase;
  width: 100px;
  margin-bottom: 40px;
}
.mobiles .item-content .action:hover {
  color: #fff;
  background: #eb3e32;
}
.mobiles .item-content.content-middle {
  justify-content: center;
}
.mobiles .item-content.content-end {
  justify-content: flex-end;
}
#electronics .owl-carousel .owl-item img {
  width: 50%;
}
#electronics .product_item {
  position: relative !important;
  height: 80px;
  display: flex;
}

#electronics .product_item .face{
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
#electronics .product_item .sora{
  position: absolute;
  top: 0;
  right: -60px;
}
#electronics .product_item .back{
  opacity: 0;
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  z-index: -1;
  
}
#electronics .product_item:hover .back{
  opacity: 1;
  z-index: 22;
}
#electronics .product_item .text {
  z-index: 99;
  margin-left: -5px;
  text-align: right;
  padding: 10px 15px;
}

#electronics .product_item .text p{
  font: 500 14px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  margin-bottom: 5px ;
}

#electronics .product_labels .label-item {
  padding: 1px 5px;
  font: 400 12px/1.35 Roboto Condensed, Helvetica Neue, Verdana,Arial, sans-serif;
}
#electronics .icon{
  padding: 20px 0;
  bottom: 5px;
  left: 0px;
  opacity: 0;
  transition: all .5s;
  z-index: 999;
}
#electronics .product_item:hover .icon{
  opacity: 1;
}
#electronics .product_item .icon i{
  font-size: 12px;
}
#electronics .product_item .text span {
  font: 500 16px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}
#electronics .text-right {
  font: 600 20px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}
.latest_posts .blog_item{
  background-color: #fff;
  display: flex;
  margin-bottom: 20px;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

}
.latest_posts .blog_item .text-right{
  padding: 20px;
}
.latest_posts .blog_item .date{
color: #999;
font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}


.latest_posts .blog_item .link{
  font: 500 16px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  color: #253237;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}
.latest_posts .blog_item .link:hover{
  color: #eb3e32;
}
.latest_posts .blog_item .desc {
  margin: 10px 0;
  color: #999;
  font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}


.latest_posts .blog_item span a {
  color: #253237;
  border-bottom: 1px solid #253237;
  text-transform: uppercase;
  font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}

.latest_posts .blog_item span a:hover {
  color: #eb3e32;
}
.latest_posts .blog_item .blog_img img {
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}
.latest_posts .blog_item .blog_img:hover img {
  transform: scale(1.1, 1.1) rotate(2deg);
}
.latest_posts .blog_item .photo{
  overflow: hidden;
  position: relative;
}
.latest_posts .blog_item i{
  padding-left: 5px;
}


.latest_posts .blog_item .category {
  font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 4px 10px 2px;
  border-radius: 5px;
  color: #222;
  background: #fdc801;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
}
.latest_posts .blog_item .category:hover{
  color: #fff;
  background: #eb3e32;
}
.latest_posts .owl-nav {
  position: absolute;
  top: -50;
  left: 0;
}
.latest_posts h1 {
  font: 600 24px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}
.latest_posts .Client_item{
  background-color: #fff;
  display: flex;
  margin-bottom: 20px;
  height: 110px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.latest_posts .Client_item img {
  border-radius: 100%;
}
.latest_posts .Client_item .sora {
  width: 20%;
  margin: auto;
  padding: 0 10px;
}

.latest_posts .Client_item .text{
  text-align: right;
  padding: 10px;
  position: relative;
}
.latest_posts .Client_item .text .comment{
  color: #999;
  font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}
.latest_posts .Client_item .text .name {
  margin: 0;
  color: #253237;
  font: 500 14px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}
.latest_posts .Client_item .text .subtitle{
color: #999;
    font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif
}

.latest_posts .Client_item .text::before {
  bottom: 15px;
  left: 15px;
  position: absolute;
  font:700 40px/1 FontAwesome;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  content: '\f10d';
  color: #eb3e32;
}
#brand .owl-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 -5px;
  z-index: 22;
  position: relative;
  top: -80px;
}
#brand #owl_brand .owl-nav button.owl-prev,#owl_brand .owl-nav button.owl-next{
  background-color: #f03723;
  width: 40px;
  height: 40px;
  line-height: 28px;
  outline: 0;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  color: #fff;
  border: 1px solid #eb3e32;
}
#brand #owl_brand .owl-nav button.owl-prev:hover,#owl_brand .owl-nav button.owl-next:hover{
  background-color: #fff;
  color: #f03723;
  border: 1px solid #eb3e32;
}

.brand .item .photo img{
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}
.brand .item .photo img:hover{
  cursor: pointer;
  transform: scale(1.1) !important;
  -webkit-transform: scale(1.1) !important;
  -moz-transform: scale(1.1) !important;
  -ms-transform: scale(1.1) !important;
  -o-transform: scale(1.1) !important;
}
.footer{
  background-color: #19202b;
}
.footer .text-center {
  padding: 50px 0px;
  color: #fff;
}
.footer .text-center .link{
  font: 600 28px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  margin-bottom: 5px;
}
.footer .text-center .desc{
  font: 400 14px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  margin-bottom: 28px;
}
.footer .text-center ::placeholder{
  color: #9999999c;
  font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  position: absolute;
  right: 40px;
  top: 17px;
}
.footer .text-center .input-group {
  width: 50%;
  margin: auto;
}
.footer .text-center .form-control{
  background: #fff;
  border-radius: 25px;
  height: 50px;
  line-height: 50px;
  border: none;
  padding-right: 35px;
  position: relative ;
  outline: 0;
}
.footer .text-center .btn {
  vertical-align: middle;
  border-radius: 25px;
  margin: 0 5px;
  padding: 10px 20px;
  background: #f03723;
  border: 1px solid #f03723;
  position: absolute;
  left: 0px;
  margin-top: 5px;
  z-index: 999999999;
  color: #fff; font: 600 14px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif; transition: all .5s; -webkit-transition: all .5s; -moz-transition: all .5s; -ms-transition: all .5s; -o-transition: all .5s;
}

.footer .text-center .btn:hover{
  color: #000;
}
.footer .text-center i{
  position: absolute;
  right: 15px;
  top: 17px;
  color: #9999999c;
  z-index: 999;
}
.footer a{
  color: #ddd;
  font-size: 14px;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}
.footer a:hover{
  color: #f03723;
}
.footer p{
  font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  color: #ddd;
}
.footer p.link-toggle{
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}
.footer ul{
  padding: 0;
}
.footer li{
  padding: 3px 0;
}
.footer .op-p{
  opacity: 0;
}
.footer .middle-bottom {
  padding: 50px 0px 40px;
  border-top: 1px solid #303741;
}
.footer .footer-text{
  font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  color: #ddd;
  position: relative;
}
.footer .footer-text span{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  background-color: #fff;
  color: #f03723;
  line-height: 30px;
  padding-right: 1px !important;
  font-size: 15px;
  position: absolute;
  right: 0px;
  top: -12px;
}
.footer .text-m-4{
  margin: 30px 0;
}
.footer .footer-text .fa-phone{
  top: 5px;
}
.footer img{
  width: 22%;
  margin-bottom: 20px;
}
.footer .bottom-links {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.footer .bottom-links li{
  padding: 0 10px;
  border-left: 1px solid #303741;
}
.footer .f_bottom{
  border-top: 1px solid #303741;
}


.deal-items{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.deal-items .deal-item {
  padding: 2px 5px;
  text-align: center;
  margin: 0 3px 0 0;
  border-radius: 3px;
  background: #eb3e32;
  color: #fff;
  min-width: 40px;
}
.deal-items .deal-item .label {
  font-size: 11px;
  border-top: 1px solid rgba(255,255,255,0.3);
  margin-top: 1px;
  display: block;
  width: 100%;
}
.deal-items #deal-item2 {
  background: #fff;
  color: #19202b;
  height: 70px;
  min-width: 50px;
  margin: 0 5px 0 0;
}
.deal-items #deal-item2 .label {
  border-top: 1px solid #00000027;
  font-size: 14px;
  color: #bdbbbb;
  padding-top: 10px;
}


.contact_us .text-center{
  font: 600 24px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  color: #253237;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-top: 70px;
}
.contact_us .iframe{
  width: 625px;
  height: 550px;
  border: 0;
}
.contact_us .write_us{
  border: 1px solid #e2e6ef;
    background: #fff;
    border-radius: 5px;
    box-shadow: none;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.contact_us h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e6ef;
  font: 500 14px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #253237;
}
.contact_us p,label{
  color: #999;
    font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}
.contact_us .btn{
  color: #fff;
  text-transform: uppercase;
  background-color: #f03723;
  font: 600 14px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  outline: none;
  border: none;
  padding: 7px 25px;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}
.contact_us .btn:hover {
  color: #222;
  background: #fdc801;
}
.contact_us .information{
  border: 1px solid #e2e6ef;
    background: #fff;
    border-radius: 5px;
    box-shadow: none;
    padding: 10px 20px;
}
.contact_us .information h5{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e6ef;
    font: 600 14px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
    text-transform: uppercase;
    color: #253237;
}

.contact_us .information p,span,a{
  margin: 7px 0 ;
}
.contact_us .information strong{
  color: #253237;
  font: 600 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  margin-left: 40px;
}
.contact_us .information a{
  color: #999;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}
.contact_us .information a:hover{
  color: #f03723;
}

.login .customer_login {
  background-color: #fff;
  width: 650px;
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.login .customer_login h3{
  text-transform: uppercase;
  color: #999;
    font: 500 17px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}
.login .customer_login p{
  margin: 0 0 15px;
  color: #999;
    font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}
.login .link{
  margin-bottom: 30px;
}
.login .form-group{
  width: 60%;
  margin: 0 auto;
}
.login label {
  color: #999;
  font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  margin-bottom: 0;
}

.login .form-control{
  margin-bottom: 30px;
  outline: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.login .link h1{
  font: 600 24px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
    color: #253237;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-top: 70px;
}
.login .btn {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 12px 6px 44px;
  font-family: Roboto,sans-serif;
  color: #fff;
  margin: 0 20px;
}
.login .btn-google{
  background-color: #dd4b39 ;
  border: 1px solid #dd4b39;
  position: relative;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}
.login .fa-google{
 background: url(../imgs/g-logo_11zon.webp) no-repeat;
 position: absolute;
 border: 1px solid #dd4b39;
 border-bottom-right-radius: 3px;
 border-top-right-radius: 3px;
 top: -8px;
 right: -30px;
 width: 35px;
 line-height: 33px;
}
.login .btn-google:hover{
  background-color: #a32b1c;
  border-color: rgba(0,0,0,.2);
  color: #fff;
}
.login .btn-facebook {
  background-color: #3b5998;
  transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
  position: relative;
}
.login .fa-facebook{
    margin-left: 10px;    
}
.login .btn-facebook:hover{
 background-color: #23345a;
 border-color: rgba(0,0,0,.2);
 color: #fff;
}

.login .submit,.create{
  width: 60%;
  color: #fff;
  background: #eb3e32;
  border: 1px solid #eb3e32;
  border-radius: 3px;
  transition: all 500ms;
  padding: 5px 20px;
  text-transform: uppercase;
  font: 600 14px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  outline: 0;
  margin: 20px 0;
}
.login .submit:hover,.create:hover{
  color: #222;
  border-color: #fdc801;
  background: #fdc801;
}
.login .forget {
  color: #818181;
    font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  text-decoration:underline !important;
  margin-left: 120px;
}
.login .forget:hover {
  color: #eb3e32;
}
.login .new_customer{
  padding: 20px;
  background: #eee;
  width: 650px
}
.login .new_customer h2{
  color: #999;
  font: 500 20px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}
.login .new_customer p{
  color: #999;
  line-height: 1.35;
  font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  width: 400px;
  margin: auto;
}


#rigister .info{
font: 600 14px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
color: #253237 ;
border-bottom: 1px solid #253237;
padding-bottom: 10px;
}
#rigister .Pass{
  margin-top: 50px;
  }
#rigister .form-group{
  width: 100%;
}
#rigister .submit {
  width: 100%;
}
#rigister .form-check-label{
  margin: 10px 0;
}
#rigister .form-check-input {
  top: 7px;
}

.blog{
  padding: 90px 0;
}
.blog .breadcrumb li a,.blog_page{
  font: 500 14px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  color: #999;
}
.blog .breadcrumb li{
  padding: 0 15px;
  font: 500 14px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, 
}
.blog .breadcrumb i{
  padding-top: 4px;
  color: #999;

}
.blog .post .post-date{
  position: absolute;
  left: 40px;
  border: 2px solid #e2e6ef;
  font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  padding: 5px 10px 4px;
  color: #999;
}
.blog .post .text a.post-title{
  color: #253237 ;
  font: 600 18px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  margin-bottom: 10px;
}
.blog a:hover{
  color: #f03723 !important;
}
.blog .post .text .link{
  font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  color: #999;
  padding-left: 15px;
}
.blog .post .text .link i{
  padding-left: 5px;
}
.blog .post .text p{
  font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  color: #999;
  margin-top: 10px;
}
.blog .post-footer{
  border-top: 1px dashed #e2e6ef;
  position: relative;
  bottom: -35px;
  padding: 5px 0;
}
.blog .post-footer .more a{
  position: absolute;
  right: 0;
  top: 0px;
  font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  color: #999 !important;
}
.blog .post-footer .icon{
  margin-left: 15px;
}

.blog .input-group-prepend {
  margin-top: -7px;
}
.blog ::placeholder{
  text-align: right;
  font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  color: #999 !important;
}
.blog .item_top{
  margin: 20px 0;
}
.blog .item_top .search{
  width: 30px;
  height: 30px;
  line-height: 28px;
  border: 0;
  transition: all 500ms ease;
  border: 0;
  color: #f03723;
  background-color: transparent;
  position: relative;
  left: 25px;
  top: 23px;
  z-index: 2;
}
.blog .widget {
  border: 1px solid #e2e6ef;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 0px;
  width: 300px;
  height: 80px;
  position: relative;
}
.blog .form-control{
  top: -60;
  margin: 0 20px;
}
.blog .item{
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #e2e6ef;
  margin-bottom: 20px;
}
.blog .item h1{
  font: 600 18px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  border: 0;
  padding-bottom: 15px;
  margin-top: 0;
  margin-bottom: -1px;
  display: inline-block;
  vertical-align: top;
  border-bottom: 3px solid #e2e6ef;
}
.blog .item .title{
  border-bottom: 1px solid #e2e6ef;
}
.blog .item .categories_li{
  margin: 20px 0;
}
.blog .item .categories_li li{
  position: relative;
  padding: 5px 0;
  margin-bottom: 5px;
  font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  color: #999;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}
.blog .item .categories_li li:hover{
  color: #f03723;
  cursor: pointer;
}
.blog .item p {
  color: #253237;
  margin: 10px 0;
  font: 600 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  padding-bottom: 20px;
}

.blog .item .product h6{
  color: #253237;
  margin: 10px 0;
  font: 600 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}
.blog .item .product p {
  color: #7a7a7a;
  font: 400 13px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}
.blog .post .text{
  text-align: right;
  width: 500px;
}

.blog .post{
  display: flex;
  background-color: #fff;
  padding: 50px;
  margin: 20px 0;
  border: 1px solid #e2e6ef;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
}
.blog .post .photo {
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
}
.blog .post .photo img{
  width: 320px;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}
.blog .post .photo img:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  cursor: pointer;
}
.blog .product  img{
  border-top: 1px dashed #e2e6ef;
padding: 10px 0;
}
.blog .tags a{
  color: #999 !important;
  padding: 3px 5px;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}
.blog .tags a:hover{
  color: #f03723 !important;
}
.blog .largest {
  font-size: 26px;
}
.blog .middum {
  font-size: 20px;
}

.about_us{
background-image: url("../imgs/1_1_11zon.webp");
justify-content: center;
    display: flex;
    flex-direction: column;
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 500px;
}
.about_us .text{
  color: #fff;
  padding: 0px 150px;
  font-family: Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
}
.about_us .text h5{
  font-size: 2.8rem;
}
.about_us .text p{
  padding-top: 15px;
  font-size: 1.3rem;
}



.test {
  width: 300px;
  height: 65vh;
  background-color: #fff;
  position: absolute;
  top: 188px;
  bottom: 0;
  left: 0;
  z-index: 999999999999999;
  visibility: hidden;
  padding: 70px 0;
}
.test2 {
visibility: visible;
}

.test p#myAccount{
font: 600 18px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
color: #f03723;
}
.test p#email_account{
font: 500 15px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
color: #232f3e;
}
.test .btn {
font: 500 15px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
color: #fff;
background: #eb3e32;
border: 1px solid #eb3e32;
border-radius: 3px;
padding: 2px 20px;
text-transform: uppercase;
transition: all .5s;
-webkit-transition: all .5s;
-moz-transition: all .5s;
-ms-transition: all .5s;
-o-transition: all .5s;
}
.test .btn:hover{
color: #000;
background: #fdc801;
border: 1px solid #fdc801;
}
.test #btn_Signout{
display: none;
}
.test .icon-account {
width: 80px;
height: 80px;
background: #f03723;
border-radius: 100%;
margin: 20px auto;
text-align: center;
}
.test .icon-account::before {
display: inline-block;
font: normal normal 30px/1 FontAwesome;
vertical-align: middle;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
content: "\f007";
color: #ffffff;
line-height: 75px;
}

#back-top {
left: 15px;
position: fixed;
bottom: 15px;
z-index: 100;
transition: 0.2s;
visibility: hidden;
}
#back-top a {
font: 600 14px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
text-transform: uppercase;
padding: 0;
width: 50px;
height: 50px;
line-height: 46px;
border: 1px solid;
text-align: center;
border-radius: 100%;
transition: all 500ms ease;
backface-visibility: hidden;
color: #000;
border-color: transparent;
background: transparent;
display: block;
box-shadow: 3px 5px 10px 0 rgb(0 0 0 / 30%);
}

#back-top a i{
padding-top: 17px;
}
#back-top:hover a {
color: #f03723;
}



@media screen and (max-width: 768px) {
  .footer .bottom-links li {
    padding: 0px 6px;
    border-left: 1px solid #303741;
  }
  .login .new_customer p{
    width: 100%;
  } .input_g{
    opacity: 0;
    width: 0;
  }
  .page-header .middle .items .btn {
    inset: 0;
    padding: 0px
  }
  .page-header .logo img {
    max-width: 20%;
    right: 15px;
    top: -85px;
  }
  .navbar-light .navbar-toggler {
    position: absolute;
    top: -70px;
    right: 175px;
  }
  .navbar {
    padding: 0;
  }
  .headphones {
    padding: 30px 0;
  }
  .headphones .owl-nav {
    top: -170px;
  }
  
  .headphones .carousel-caption1 p {
  margin-bottom: 15px;
  }
  .headphones .carousel-caption2 p {
    margin-bottom: 15px;
  }
  .headphones .carousel-caption2 {
  left: 5%;
  top: 10%;
  }
  .top_recommended .deal-items {
    padding-left: 0px;
    margin-bottom: 25px;
  }
  .cameras .deal-items {
    margin-left: 5px;
}
  .top_recommended .fitness .text {
    left: 5px;
    top: 30px;
    width: 195px;
  }
  .top_recommended .fitness .face {
    width: 130px;
    top: 7px;
  }
  .top_recommended .fitness .label-content {
    position: absolute;
    top: 7px;
    right: 16px;
    z-index: 99;
  }
  .top_recommended .fitness .text h6 {
    margin-left: 5px;
  }
  .top_recommended .fitness ,.top_recommended .item {
    height: 340px;
  }
  .top_recommended .fitness .eye_recommended {
    top: 15%;
    right: 60px!important;
  }
  .top_recommended .eye_arrivals {
    top: 10%;
    left: 30px;
  }
  .Cameras .eye_arrivals {
    top: 20%;
    left: 60px;
  }
  .Cameras .icon button {
    margin-left: 0;
  }
  .Cameras .icon i {
    padding: 0px 5px;
  }
  .Cameras .icon {
    bottom: 10px;
  }
  .Cameras #owl_Cameras {
    padding: 5px;
    height: 370px;
  }
  .Cameras .item {
    height: 360px;
  }
  .Cameras .owl-nav {
    top: -215px;
  }

  .cell_phones .item {
    height: 310px;
  }
  .cell_phones .icon button {
    margin-left: 0;
  }
  .cell_phones .icon i {
    padding: 0px 4px;
  }
  .cell_phones .icon {
    bottom: 10px;
  }
  .cell_phones .text-right {
    font: 600 23px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
    top: -18px;
    right: 9px;
  }
  .cell_phones .product_item .eye_arrivals {
    top: 15%;
  }
  .cell_phones .eye_arrivals {
    left: 60px;
  }
  .mobiles .item-content {
  padding: 10px 10%;
  }
  .mobiles .item-content h1 {
    font: 600 17px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  }
  #laps .item .text span {
    bottom: 10px;
  }
  #laps .icon {
    bottom: 0px;
  }
  #electronics .product_item .text {
    margin-left: 50px;
  }
  .latest_posts .Client_item {
    height: 130px;
  }
  #brand .owl-nav{
    top: -55px;
  }
  .footer .mr-5{
    margin-right: 35px!important;
  }
.contact_us .iframe {
    width: 100%;
    height: 30vh;
  }
  .contact_us .text-center {
    padding-top: 0px;
  }
  .input_g{
    opacity: 0;
    width: 0;
  }
  .page-header .middle .items .btn {
    inset: 0;
    padding: 0px
  }
  .login .btn-google {
    left: -22px;
  }
  .blog .post .text a.post-title {
    font: 600 12px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
    transition: all .5s;
  }
  .blog .post .post-date {
    top: 18px;
  }
  .blog .post .text {
    text-align: right;
    padding-right: 0px;
    width: 320px;
  }
  .blog .widget {
    width: 100%;
  }
}







@media screen and (max-width: 600px) {
  .footer .bottom-links li {
    padding: 0px 6px;
    border-left: 1px solid #303741;
  }
  .login .new_customer p{
    width: 100%;
  }
  .page-header .logo img {
    max-width: 22%;
    right: 15px;
    top: -70px;
  }
  .navbar-light .navbar-toggler {
    top: -78px;
    right: 87px;
  }
  .page-header .middle .nav-item i {
    font-size: 17px;
  }
  .page-header .middle .nav-item {
    padding-right: 12px;
  }
  .contact_us .iframe {
    margin-bottom: 20px;
    width: 100%;
  }
  .footer .text-center .input-group {
    width: 90%;
  }
  .footer .bottom-links li {
    padding: 0px 3px;
  }
  .login .btn {
    margin: 10px;
  }
   
  .login .customer_login {
    width: 100%;
    padding: 20px 15px;
  }
  .login .forget {
    margin-left: 70px;
  }
  .blog .post .photo img {
    width: 290px;
  }
  .blog .post .text {
    width: 100% !important;
    margin-top: 220px;
  }
  .blog .post {
    padding: 15px;
    height: 500px;
  }
  .headphones .owl-nav {
    top: -125px;
  }
  .top_recommended .text-right {
    margin-top: 25px;
  }
  .headphones .carousel-caption1 .middle_text , .headphones .carousel-caption2 h2 {
    font: 500 20px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  }
  .headphones .carousel-caption1 {
    right: 30%;
  }
  .headphones .carousel-caption1 .btn , .headphones .carousel-caption2 .btn {
    padding: 5px 15px;
  }
  .headphones .carousel-caption2 {
    left: 20%;
  }
  .top_recommended .fitness .face {
    width: 115px;
  }
  .deal-items .deal-item {
    min-width: 35px;
  }
  .top_recommended .fitness .icon {
    padding-left: 0px;
  }
  .top_recommended .fitness .text a {
    font: 500 16px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  }
  .cameras .eye_arrivals {
    top: 10%;
    left: 35px;
  }
  #brand .owl-nav {
    top: -25px;
  }
  #brand #owl_brand .owl-nav button.owl-prev, #owl_brand .owl-nav button.owl-next {
    width: 20px;
    height: 20px;
  }
  .cell_phones .eye_arrivals {
    left: 30px;
    top: 10%;
  }
  .cell_phones .item .text span {
    bottom: 10px;
  }
  .cell_phones .item .text p {
    font: 500 11px/1.35 Roboto Condensed, Helvetica Neue, Verdana, Arial, sans-serif;
  }
  .about_us .text p {
    font-size: 1rem;
  }
  .about_us .text h5 {
    font-size: 1.8rem;
  }
  .about_us .text {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 1024px) {
  .deal-items {
    justify-content: start;
    margin-left: 20px;
  }
  .top_recommended .fitness .text {
    left: 5px;
    width: 194px;
  }
  .top_recommended .fitness .face {
    top: 40px;
  }
  .top_recommended .fitness .text h6 {
    margin-left: 4px;
  }
  #electronics .product_item .text {
    width: 140px;
  }
  #electronics .product_item{
    height: 130px;
  }
  .contact_us .iframe {
    width: 100%
  }
  .blog .post .photo img {
    width: 250px;
  }
  .blog .post .text {
    text-align: right;
    width: 400px;
  }
  .blog .post .post-date {
    left: 20px;
    top: 15px;
  }
}

